---
layout: "global"
description: "Experienced program manager with 10+ years of leading large-scale global product launches."
stylesheets:
    - "/assets/css/cv.css"
show_menu: true
schema_person: true
blurb: "I began my career in digital transformation, advancing to deliver integrated marketing campaigns for clients within the technology sector. In 2016, I joined Disney as product manager for DisneyLife then transitioned to launch Disney+ globally. I am deeply enthused about working on an entertainment product that delights millions worldwide. My strength lies in leading diverse cross-functional teams, by bridging the gap between technical expertise and business acumen to deliver seamless customer experience. I am keen to apply the wealth of skills I have accumulated to an organisation that echoes my dedication to innovation."
---
<p class="lead">{{ page.description }}</p>
<p class="blurb">{{ page.blurb }}</p>
{% if site.current_role %}
<div class="cv-section">
    <h2>Current role</h2>
    {% for experience in site.current_role reversed %}
    {% include cv-experience.html %}
    {% endfor %}
</div>
{% endif %}
{% if site.previous_roles %}
<div class="cv-section">
    <h2>Previous roles</h2>
    {% for experience in site.previous_roles reversed %}
    {% include cv-experience.html %}
    {% endfor %}
</div>
{% endif %}
{% if site.education %}
<div class="cv-section">
    <h2>Education</h2>
    {% for experience in site.education reversed %}
    {% include cv-experience.html %}
    {% endfor %}
</div>
{% endif %}
{% if site.volunteering %}
<div class="cv-section">
    <h2>Volunteering</h2>
    {% for experience in site.volunteering reversed %}
    {% include cv-experience.html %}
    {% endfor %}
</div>
{% endif %}