
@font-face {
    font-family: 'WebProductSans';
    src: url('/assets/fonts/product-sans.woff2') format('woff2'),
    url('/assets/fonts/product-sans.woff') format('woff'),
    url('/assets/fonts/product-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WebProductSans';
    src: url('/assets/fonts/product-sans-bold.woff2') format('woff2'),
    url('/assets/fonts/product-sans-bold.woff') format('woff'),
    url('/assets/fonts/product-sans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'WebProductSans';
    src: url('/assets/fonts/product-sans-italic.woff2') format('woff2'),
    url('/assets/fonts/product-sans-italic.woff') format('woff'),
    url('/assets/fonts/product-sans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'WebProductSans';
    src: url('/assets/fonts/product-sans-bold-italic.woff2') format('woff2'),
    url('/assets/fonts/product-sans-bold-italic.woff') format('woff'),
    url('/assets/fonts/product-sans-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'WebGeorgia';
    src: url('/assets/fonts/georgia.woff2') format('woff2'),
    url('/assets/fonts/georgia.woff') format('woff'),
    url('/assets/fonts/georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WebGeorgia';
    src: url('/assets/fonts/georgia-bold.woff2') format('woff2'),
    url('/assets/fonts/georgia-bold.woff') format('woff'),
    url('/assets/fonts/georgia-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'WebGeorgia';
    src: url('/assets/fonts/georgia-italic.woff2') format('woff2'),
    url('/assets/fonts/georgia-italic.woff') format('woff'),
    url('/assets/fonts/georgia-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'WebGeorgia';
    src: url('/assets/fonts/georgia-bold-italic.woff2') format('woff2'),
    url('/assets/fonts/georgia-bold-italic.woff') format('woff'),
    url('/assets/fonts/georgia-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
