
$font-serif: 'WebGeorgia', serif;
$font-sans-serif: 'WebProductSans', sans-serif;

$colour-accent: #000052FF;
$colour-grayscale-1: #CECECE;
$colour-grayscale-2: #7F7F7F;
$colour-grayscale-3: #595959;
$colour-grayscale-4: #404040;
